server/config.env
assets/
/dump.rdb

# dependencies
server/node_modules
client/node_modules
client/.pnp
client/.pnp.js
client/persistFunctionality.txt

# testing
client/coverage

# production
client/build

# misc
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*