.nav {
  grid-area: nav;
  padding: 10px;
  color: var(--body-color);
  margin-left: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  .nav-header {
    margin-top: 20px;
    font-size: 14px;
  }

  .nav-item {
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 100%;

    .icon-wrapper {
      padding: 10px;
      color: white;
      background-color: var(--secondary-bg);
      border-radius: 10px;
    }

    .item-text {
      margin-left: 10px;
    }

    &:hover {
      color: white;
      cursor: pointer;
    }
  }
}
