.sound-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
  align-items: center;

  .sounds-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    row-gap: 10px;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-content: center;
  }

  .sound-header {
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}
