.sound-list {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 5px;
  border-right: 2px solid var(--secondary-bg);
  align-items: center;

  .sounds-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    row-gap: 10px;
    width: 100%;
    padding: 10px;
    padding-left: 0;
    justify-content: center;
    align-content: center;
  }

  .sound-header {
    text-align: center;
    color: var(--body-color);
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}
