.mix-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  align-items: center;

  .mix-header {
    text-align: center;
    color: var(--body-color);
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}
