.header {
  background-color: var(--tingls-bg);
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: var(--white);
  border-bottom: 5px solid var(--secondary-bg);

  .logo {
    margin-left: 10px;
  }

  .header-menu {
    .menu {
      list-style-type: none;
      display: flex;

      .menu-item {
        padding: 10px;
        text-align: center;
      }
    }
  }
}
